{% extends 'base.html' %}

{% block content %}
  <div class="container theme-showcase" role="main">
    <br>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>    
{% endfor %}
<br>
    <div>
      <h1>Troy Siade Dynasty Football League</h1>
      
    </div>
    <br>
   
    <!-- {% for r in result %}

    <div class="page-header">
      <h1>Current Season{{ r.name }}</h1>
    </div>
    <div class="well">
      <p>{{ r.comment }}</p>
    </div>
    {% endfor %} -->
  </div> <!-- /container -->

{% endblock %}

