{% extends 'base.html' %}

{% block content %}
<br>
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>    
{% endfor %}

<div class="container">
	<div class="row">
	  <div class="col">
		<h1>
			{% if team.owner.avatar%}
			<img src="{{team.owner.avatar}}" height = 100></img>
			{% endif %}
			{{ team.owner.teamname}}</h1>
	  </div>
	  <div class="col text-end">
		<br>
		<p class = "used_cap">Used Cap Space: {{used_cap}} &#8226; Roster Spots Used: {{active_roster_count}}</p>
		<p class = "cap_space">Remaining Cap Space: {{cap_space}} &#8226; Roster Spots Available: {{roster_space}}</p>
		
		
	  </div>
	</div>

  </div>



<br>
<!-- <h5>Roster Salary: {{active_roster_salary}}</h5>
<h5>Cap Holds: {{total_cap_holds}}</h5> -->



<h3>Active Roster</h3>

{% if team_roster %}
<table class="table table-numbers table-hover table-striped table-sm">
<!-- <table class="table"> -->


	<thead class="table-dark">
	  <tr>
		<th scope="col">Player</th>
		<th scope="col">Position</th>
		<th scope="col">Season</th>
		<th scope="col">Salary</th>
		<!-- <th scope="col">Original Salary</th> -->
		<!-- <th scope="col">Franchised?</th> -->
		<th scope="col">Date Added</th>
		<!-- <th scope="col">Date Removed</th> -->
		{% if current_user.id in alist %}
		<th scope="col"></th>
		<th scope="col"></th>
		{% endif %}
	  </tr>
	</thead>
	<tbody>

	{% for p in team_roster %}

	{% if p.is_ir %}
	<tr class="table-danger">
	{% elif p.is_franchised %}
	<tr class="table-info">
	{% else %}
	<tr>
		{% endif %}


	  
		<th scope="row">
			{{p.player.full_name}}
			{% if p.is_franchised %}
			*
			{% endif %}
			{% if p.is_ir %}
			&dagger;
			{% endif %}
			
		
		
		</th>
		<td>{{p.player.position}}</td>
		<td>{{p.season}}</td>
		<td>{{p.salary}} {% if p.unadjusted_salary %}({{p.unadjusted_salary}}){% endif %}</td>

		<!-- {% if p.unadjusted_salary %}
		<td>{{p.unadjusted_salary}}</td>
		{% else %}
		<td></td>
		{% endif %} -->

		<!-- <td>{{p.is_Franchised}}</td> -->
		<td>{{p.date_added}}</td>

		<!-- {% if p.date_removed %}
		<td>{{p.date_removed}}</td>
		{% else %}
		<td></td>
		{% endif %} -->
		{% if current_user.id in alist %}
		<td><a href="{{ url_for('updateRosterPlayer', id=p.id)}}">Edit</a></td>
		<td><a href="{{ url_for('deleteRosterPlayer', id=p.id)}}">Delete</a></td>
		{% endif %}

	</tr>

	  {% endfor %}
	  <tr class = "table-dark">
		<th scope="col">Total</th>
		<th scope="col"></th>
		<th scope="col"></th>
		<th scope="col">{{active_roster_salary}}</th>
		<th scope="col"></th>
		<!-- <th scope="col">Franchised?</th> -->
		<th scope="col"></th>
		{% if current_user.id in alist %}
		<th scope="col"></th>
		<th scope="col"></th>
		{% endif %}

	  </tr>

	</tbody>
  </table>

  {% else %}
  <em>No results found.</em>

  {% endif %}
  <p style="font-size: 12px;">* = Franchised, &dagger; = IR, () = original acquired value</p>
<br>


<h3>Taxi Squad</h3>

{% if taxi_roster %}
<table class="table table-numbers table-hover table-striped table-sm">
<!-- <table class="table"> -->


	<thead class="table-dark">
	  <tr>
		<th scope="col">Player</th>
		<th scope="col">Position</th>
		<th scope="col">Season</th>
		<th scope="col">Salary</th>
		<!-- <th scope="col">Original Salary</th> -->
		<!-- <th scope="col">Franchised?</th> -->
		<th scope="col">Date Added</th>
		<!-- <th scope="col">Date Removed</th> -->
		{% if current_user.id in alist %}
		<th scope="col"></th>
		<th scope="col"></th>
		{% endif %}
	  </tr>
	</thead>
	<tbody>

	{% for p in taxi_roster %}

	{% if p.is_ir %}
	<tr class="table-danger">
	{% elif p.is_franchised %}
	<tr class="table-info">
	{% else %}
	<tr class="table-primary">
		{% endif %}


	  
		<th scope="row">
			{{p.player.full_name}}
			{% if p.is_franchised %}
			*
			{% endif %}
			{% if p.is_ir %}
			&dagger;
			{% endif %}
		
		
		</th>
		<td>{{p.player.position}}</td>
		<td class="numbertext">{{p.season}}</td>
		<td>{{p.salary}} {% if p.unadjusted_salary %}({{p.unadjusted_salary}}){% endif %}</td>

<!-- 
		{% if p.unadjusted_salary %}
		<td>{{p.unadjusted_salary}}</td>
		{% else %}
		<td></td>
		{% endif %} -->

		<!-- <td>{{p.is_Franchised}}</td> -->
		<td>{{p.date_added}}</td>

		<!-- {% if p.date_removed %}
		<td>{{p.date_removed}}</td>
		{% else %}
		<td></td>
		{% endif %} -->
		{% if current_user.id in alist %}
		<td><a href="{{ url_for('updateRosterPlayer', id=p.id)}}">Edit</a></td>
		<td><a href="{{ url_for('deleteRosterPlayer', id=p.id)}}">Delete</a></td>
		{% endif %}

	</tr>

	  {% endfor %}
	  <tr class = "table-dark">
		<th scope="col">Total</th>
		<th scope="col"></th>
		<th scope="col"></th>
		<th scope="col">{{taxi_salary}}</th>
		<th scope="col"></th>
		<!-- <th scope="col">Franchised?</th> -->
		<th scope="col"></th>
		{% if current_user.id in alist %}
		<th scope="col"></th>
		<th scope="col"></th>
		{% endif %}

	  </tr>

	</tbody>
  </table>

  {% else %}
  <em>No results found.</em>

  {% endif %}
<br>



  {% if capholds %}

  <h3>Cap Holds</h3>
  <table class="table table-numbers table-hover table-striped table-sm">
  <!-- <table class="table"> -->
  
  
	  <thead class="table-dark">
		<tr>
		  <th scope="col">Player</th>
		  <th scope="col">Position</th>
		  <th scope="col">Season</th>
		  <th scope="col">Hold</th>
		  <th scope="col">Reason</th>
		  <!-- <th scope="col">Franchised?</th> -->
		  <th scope="col">Effective Date</th>
		  {% if current_user.id in alist %}
		  <td></td>
		  <td></td>
		  {% endif %}
  
		</tr>
	  </thead>
	  <tbody>
  
	  {% for ch in capholds %}
  
	  <tr>
		<th scope="row">
			  {{ch.player.full_name}}
		  </th>
		  <td>{{ch.player.position}}</td>
		  <td>{{ch.season}}</td>
		  <td>{{ch.caphold}}</td>
  		  <td>{{ch.reason}}</td>
  		  <td>{{ch.effective_date}}</td>
			{% if current_user.id in alist %}
			<td><a href="{{ url_for('updateCapHold', id=ch.id)}}">Edit</a></td>
			<td><a href="{{ url_for('deleteCapHold', id=ch.id)}}">Delete</a></td>
			{% endif %}
	  </tr>
  
		{% endfor %}
		
		<tr class = "table-dark">
			<th>
				  Total
			  </th>
			  <td></td>
			  <td></td>
			  <td>{{total_cap_holds}}</td>
				<td></td>
				<td></td>
				{% if current_user.id in alist %}
		  <td></td>
		  <td></td>
		  {% endif %}
		  </tr>
	  </tbody>
	</table>
  
	{% else %}
	<em>No Cap Holds.</em>
  
	{% endif %}

	<h3>Roster History</h3>

	{% if roster_history %}
<table class="table table-numbers table-hover table-striped table-sm">
<!-- <table class="table"> -->


	<thead class="table-dark">
	  <tr>
		<th scope="col">Player</th>
		<th scope="col">Position</th>
		<th scope="col">Season</th>
		<th scope="col">Salary</th>
		<th scope="col">Original Salary</th>
		<!-- <th scope="col">Franchised?</th> -->
		<th scope="col">Date Added</th>
		<th scope="col">Date Removed</th>

	  </tr>
	</thead>
	<tbody>

	{% for p in roster_history %}

	{% if p.is_ir %}
	<tr class="table-danger">
	{% elif p.is_franchised %}
	<tr class="table-primary">
	{% else %}
	<tr>
		{% endif %}


	  
		<th scope="row">
			{{p.player.full_name}}
			{% if p.is_franchised %}
			*
			{% endif %}
			{% if p.is_ir %}
			&dagger;
			{% endif %}
		
		
		</th>
		<td>{{p.player.position}}</td>
		<td>{{p.season}}</td>
		<td>{{p.salary}}</td>

		{% if p.unadjusted_salary %}
		<td>{{p.unadjusted_salary}}</td>
		{% else %}
		<td></td>
		{% endif %}

		<!-- <td>{{p.is_Franchised}}</td> -->
		<td>{{p.date_added}}</td>

		{% if p.date_removed %}
		<td>{{p.date_removed}}</td>
		{% else %}
		<td></td>
		{% endif %}

	</tr>

	  {% endfor %}
	  <!-- <tr class = "table-dark">
		<th scope="col">Total</th>
		<th scope="col"></th>
		<th scope="col">{{active_roster_salary}}</th>
		<th scope="col"></th>
		<!-- <th scope="col">Franchised?</th> 
		<th scope="col"></th>
		<th scope="col"></th>

	  </tr> -->

	</tbody>
  </table>

  {% else %}
  <em>No results found.</em>

  {% endif %}
<!-- 
  <table class="mytesttable">
	<tr>
		<td>test column 1</td>
		<td>test column 2</td>
	</tr>
	<tr>
		<td>test 2.1</td>
		<td>test 2.2</td>
	</tr>
  </table>

  <p class="mytesttable">test times new roman</p> -->
{% endblock %}

